.DS_Store
*.pyc
.svn
.idea
nbproject
Thumbs.db
Desktop.ini
.buildpath
.project
.settings
content/cache
content/comics
content/tags
content/logs
application/controllers/admin/chat.php
application/views/admin/chat
vendor/
.phpunit.result.cache
