<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" verbose="true">
	<testsuites>
		<testsuite name="FoOlSlide Controller Unit Tests">
			<directory suffix="Test.php">tests/controllers</directory>
		</testsuite>
		<testsuite name="FoOlSlide Model Unit Tests">
			<directory suffix="Test.php">tests/models</directory>
		</testsuite>
		<testsuite name="FoOlSlide Helper Unit Tests">
			<directory suffix="Test.php">tests/helpers</directory>
		</testsuite>
	</testsuites>
</phpunit>
